<!--<div *ngIf="user != undefined">-->
<form role="form" (submit)="registerUser()">
  <div class="form-group">
    <label for="username">Username:</label> <input type="text"
                                                   class="form-control" id="username" name="username"
                                                   [(ngModel)]="user.username"/>
  </div>
  <div class="form-group">
    <label for="password">Password:</label> <input type="password"
                                                   class="form-control" id="password" name="password"
                                                   [(ngModel)]="user.password"/>
  </div>

  <div class="form-group">
    <label for="fullName">Name:</label> <input type="text"
                                                   class="form-control" id="fullName" name="fullName"
                                                   [(ngModel)]="user.fullName"/>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!--</div>-->
