<form #chapterForm="ngForm" (ngSubmit)="saveChapter()">
  <div *ngIf="chapter != undefined">
    <h2>{{chapter.title}}</h2>
    <div *ngFor="let item of chapter.items">
      <app-staticitem *ngIf="item.type == 'StaticItem'" [staticItem]="item"></app-staticitem>
      <app-dynamicitem *ngIf="item.type == 'DynamicItem'" [dynamicItem]="item"></app-dynamicitem>
      <app-containeritem *ngIf="item.type == 'ContainerItem'" [containerItem]="item"></app-containeritem>
    </div>
    <input type="submit" value="Save all"/>
  </div>
</form>
