/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.element-vertical-align{
  vertical-align: middle;
}

.inline-elem {
  display: inline-block;
}

.element-margins{
  margin-top: 10px;
  margin-bottom: 10px;
}

.normal{

}
.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}
